
table{
   width: 80%;
}

table{
   border-collapse: collapse;
}
table.list{
   width:100%;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
   background-color: #dddddd;
}

.inputinf {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.submit{
   width: 30%;
   background-color: #ddd;
   color: #000;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.submitTabel {

   margin : 5% 25% 5% 25% ;
   text-align: center;
   width: 50%;
   border-radius: 50%;
}
.resultTabel {

margin : 5% 25% 5% 25% ;
text-align: center;
width: 50%;
}

h1 {
   text-align: center;
   color: rgb(35, 49, 91);
   font-weight: 600;
}
